<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css" > </link>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header class="encabezado"> 
        <div class="subencabezado">
            <div class="subencabezadobis"><img src="/img/logo-mercado-liebre.svg"class="logo" >
            <div class="buscador"><input ></input><button id="iconobuscar"><i class="fas fa-search"></i></button> </div></div>
            <p> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>       
        </div>
        <nav class="listas">
            <ul >  
                <li> <a href="#"> Ofertas </a> </li>
                <li> <a href="#"> Tiendas oficiales </a> </li>
                <li> <a href="#"> Vender </a> </li>
                <li> <a href="#"> Ayuda </a> </li>
            </ul>
            <div>&nbsp</div>
            <ul>
                <li> <a href="#"> Creá tu cuenta <i class="far fa-id-card"></i></a> </li>
                <li> <a href="#"> Ingresá <i class="fas fa-sign-in-alt"></i> </a> </li>
                <li> <a href="#"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        
        </nav>
        <a class="burger-menu">
            <i class="fas fa-bars burger"></i>      
        </a>
        <div>&nbsp</div>
        <div>&nbsp</div>
             
    </header>
    
    <img id="banner"  src="img/img-home-banner.jpg">

    <main class="main">
        <section>
            <header>
                <h3> Basado en tu última visita </h3>
            </header>
            <div class="masmenos">
            <article id="articulos" class="articulo1">
                <img src="img/img-cafetera-moulinex.jpg" width="200" height="200">
                 <div class="cajaarticulo">
                    <i class="fas fa-truck" ></i>
                    <div class="precios-descuentos"> <p class="precios">$7.000</p>
                    <p class="descuentos"> 30% off</p></div>
                    <h4 class="descripcion">Cafetera Moulinex </h4>
                 </div>
            </article>
            <article id="articulos" class="articulo2">
                <img src="img/img-macbook-pro-2019.jpg" width="200" height="200">
                 <div class="cajaarticulo">
                    <i class="fas fa-truck" ></i>
                    <div class="precios-descuentos"> <p class="precios">$230.000</p>
                    <p class="descuentos"> 20% off</p></div>
                    <h4 class="descripcion">Macbook Pro 2019 </h4>
                 </div>
            </article>
            <article id="articulos" class="articulo3">
                <img src="img/img-samsung-galaxy-s10.jpg" width="200" height="200">
                 <div class="cajaarticulo">
                    <i class="fas fa-truck" ></i>
                    <div class="precios-descuentos"> <p class="precios">$70.000</p>
                    <p class="descuentos"> 10% off</p></div>
                    <h4 class="descripcion"> Teléfono Samsung</h4>
                 </div>
            </article>
            <article id="articulos" class="articulo4">
                <img src="img/img-tv-samsung-smart.jpg" width="200" height="200">
                 <div class="cajaarticulo">
                    <i class="fas fa-truck" ></i>
                    <div class="precios-descuentos"> <p class="precios">$7.000</p>
                    <p class="descuentos"> 30% off</p></div>
                    <h4 class="descripcion">Samsung 43' </h4>
                 </div>
            </article>
        </div>
        <section>
            <header>
                <h3> Sección ofertas </h3>
            </header>
            <div class="masmenos">
                <article id="articulos" class="articulo1">
                    <img src="img/img-cafetera-moulinex.jpg" width="200" height="200">
                     <div class="cajaarticulo">
                        <i class="fas fa-truck" ></i>
                        <div class="precios-descuentos"> <p class="precios">$7.000</p>
                        <p class="descuentos"> 30% off</p></div>
                        <h4 class="descripcion">Cafetera Moulinex </h4>
                     </div>
                </article>
                <article id="articulos" class="articulo2">
                    <img src="img/img-macbook-pro-2019.jpg" width="200" height="200">
                     <div class="cajaarticulo">
                        <i class="fas fa-truck" ></i>
                        <div class="precios-descuentos"> <p class="precios">$230.000</p>
                        <p class="descuentos"> 20% off</p></div>
                        <h4 class="descripcion">Macbook Pro 2019 </h4>
                     </div>
                </article>
                <article id="articulos" class="articulo3">
                    <img src="img/img-samsung-galaxy-s10.jpg" width="200" height="200">
                     <div class="cajaarticulo">
                        <i class="fas fa-truck" ></i>
                        <div class="precios-descuentos"> <p class="precios">$70.000</p>
                        <p class="descuentos"> 10% off</p></div>
                        <h4 class="descripcion"> Teléfono Samsung</h4>
                     </div>
                </article>
                <article id="articulos" class="articulo4">
                    <img src="img/img-tv-samsung-smart.jpg" width="200" height="200">
                     <div class="cajaarticulo">
                        <i class="fas fa-truck" ></i>
                        <div class="precios-descuentos"> <p class="precios">$7.000</p>
                        <p class="descuentos"> 30% off</p></div>
                        <h4 class="descripcion">Samsung 43' </h4>
                     </div>
                </article>
            </div>
        </section>

    </main>
    <footer class="footer">
    <div class="footerflex" >
        <div>
        <section>
            <article>
                <i id="tarjeta" class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin
                   interés con tarjeta o efectivo en puntos de
                   pago. ¡Y siempre es seguro!
                </p>
            </article>
        </section>
        </div>
        <div>
        <section>
            <article>
                <i id="present" class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p> Solo por estar registrad@ en Mercado Liebre 
                    tenés envíos gratis en miles de productos. Es
                    un beneficio de Mercado Puntos.
                </p>
            </article>
        </section>
        </div>
        <div>
        <section>
            <article>
                <i id="seguridad" class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre
                    no hay nada que no puedas hacer, 
                    porque estás siempre protegid@.
                </p>
            </article>
        </section>
        </div>

    </div>
        <section>
            <article class="copyright">
                <h4> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </article>
        </section>
    
    </footer>
</body>
</html>